<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parmartham Foundation</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="./assets/css/style.css">


</head>
<body>
    <header class="header">

        <div class="top_header">
           <div class="dflex justify_content">
              <div class="item">
                <a href="./index.html" class="nav-logo logo" id="parmartham_nav_logo">
                    <img src="./assets/image/parmatham_logos.png" alt="" id="parmartham_logo">
                    <!-- <h1 class="logo_name">Parmartham Foundation</h1> -->
                </a>
              </div>

              <!-- //// -->
              <div class="item">
                <!-- <ul>
                        <li class="link"><a href="#">FAQ</a></li> <span class="line_border">|</span>
                        <li class="link"><a href="#">Help Desk</a></li> <span class="line_border">|</span>
                        <li class="link"><a href="#">Support</a></li>  
                </ul> -->
              
                <ul class="social_icon" >
                  <div class="items">
                        <li><a href="tel:9431210186">
                            <i class="fa fa-phone icons_"></i>
                        </a></li>
                        <li><a href="tel:9431210186">
                            <i class="fa fa-instagram icons_"></i>
                        </a></li>
                        <li><a href="//api.whatsapp.com/send?phone=9431210186">
                            <i class="fa fa-whatsapp icons_"></i>
                        </a></li>
                        <li><a href="https://www.youtube.com/channel/UCv25V5GNxaoU0maxyNwEkOw">
                            <i class="fa fa-youtube icons_"></i>
                        </a></li>
                        <li><a href="tel:9431210186">
                            <i class="fa fa-facebook icons_"></i>
                        </a></li>
                    </div>
                  </ul>
              </div>            
           </div>
        </div>
        
        <!-- /// -->
        
        <nav id="navbar_top"  class="navbar " >
            <ul class="nav-menu" id="">
                <li class="nav-item active ">
                    <a href="./index.html" class="nav-link ">Home</a>
                </li>

                <li class="nav-item">
                    <a href="./aboutus.html" class="nav-link">About Us</a>
                </li>

                <li class="nav-item">
                    <a href="./member.html" class="nav-link">Our Member</a>
                </li>
                <!-- <li class="nav-item">
                    <a href="#" class="nav-link">Blog</a>
                </li> -->

                <li class="nav-item">
                    <a href="./gallery.html" class="nav-link">Gallery</a>
                </li>
                
                <li class="nav-item">
                    <a href="./contactus.html" class="nav-link">Contact Us</a>
                </li>
                
                </div>
            </ul>

           <div class="donate_gravity">
            <ul class="nav-menu">
                <li class="nav-item ">
                    <a href="./index.html" class="nav-link " id="gravity_classes">Gravity Classes</a>
                </li>
                <li class="nav-item ">
                    <a href="./donate.html" class="nav-link " id="gravity_classes">Donate </a>
                </li>
                </ul>
                
           </div>

         <div  class="d__flex ">
            <div class="d_none_pcs"><a href="./index.html" class="nav-link  " id="gravity_classes">Gravity Classes</a></div>

            <!-- <div class="d_none_pcs donate_mob"><a href="./index.html" class="nav-link  " id="donate_btn">Donate</a></div> -->
           
           <div class="hamburger ">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
           </div>
        </nav>


</header>


<script src="./assets/js/fixed_top.js"></script>
<script src="./assets/js/script.js"></script>

